body{
    background-image: url(../img/fundo_body.gif);	
}

#geral{
    width: 952px;
    *width: 950px; /*hack for IE*/
    height: auto;
    position: absolute;
    float:left;
    left:50%;
    margin-left:-475px;
    margin-top: 10px;
    top:0px;
    color: #00008C;
    /*border: 1px solid black;*/
}

#geral a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color: black;
}

/*--------------------------MENU SUPERIOR--------------------------*/
#menu_superior{
    width: 950px;
    height: 27px;
    padding-top: 5px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;	
    background-image: url(../img/rodape_back.png);
    background-repeat: repeat-x;
    background-color: #FFF;
    position: relative;
    top: 0px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

#text_menu_esquerda{
    float: left;
    position: relative;
    padding-left: 20px;
    padding-top: 5px;
    color: #000;
    /*border: 1px solid black;*/
}

#text_menu_direita{
    float: right;
    position: relative;
    padding-right: 20px;
    padding-top: 5px;
    /*border: 1px solid black;*/
}

.link_sair{
    color: black;
    text-decoration: none;
}

/*--------------------------CONTEUDO DA PAGINA--------------------------*/
#box{
    width: 950px;
    min-height: 854px;
    height: auto !important;
    height: 854px;
    position: absolute;	
    border: 1px solid black;
    /*background-color: #EFEBEF;
    background-image: url(./images/conteudo_back.png);
    background-repeat: repeat-x;*/
}

/*--------------------------PAINEL LATERAL--------------------------*/

#painel_perfil{	
    position: relative;
    float: left;
    width: 190px;
    min-height:410px;
    height:auto !important;
    height:410px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 10px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, sans-serif;
    font-size: 8pt;
    text-align: justify;	
    font-weight: bold;	
    padding-left: 10px;
    padding-right: 10px;	
    background-color: #1075BD;
    background-image: url(../img/conteudo_back.png);
    background-repeat: repeat-x;
}

#painel_perfil ul{
    list-style-type: none;
    padding: 0;
    border: 0;
    color: #000;
    font-size: 10pt;
}

#painel_perfil li{
    border: 1px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #EFEBEF;
}

#painel_perfil ul li a{
    display: block;
    border: 0;
    text-align: center;
    padding-top: 5px;	
    padding-bottom: 5px;
}

#painel_perfil ul li:hover{
    /*border: 1px solid #000;*/
    background: transparent url(../img/tabela_background_hover.png) bottom left repeat-x;
    background-color: #EFEBEF;
}

#painel_perfil a{
    font-size: 8pt;
}

#painel_perfil li ul{
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 2px solid black;
    font-size: 8pt;
    list-style-type: none;
}

#painel_perfil li ul li{
    border: 0;
    margin: 0;
    padding: 0;	
    background-color: #EFEBEF;
}

#painel_perfil li ul li a{
    display: block;
    /*border: 1px solid black;*/
    text-align: center;
    padding-top: 5px;	
    padding-bottom: 5px;
}

#painel_perfil li ul li:hover{
    /*border: 1px solid #000;*/
    background: transparent url(../img/tabela_background_hover.png) bottom left repeat-x;
    background-color: #EFEBEF;
}

/*--------------------------PAINEL DE CONTEUDO--------------------------*/
#painel_exibicao{
    width: 715px;
    min-height:400px;
    height:auto;
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid #D4E1E7;
    position: relative;
    float: right;
    background-color: #FFCFCE;
    background-image: url(../img/exibicao_back.png);
    background-repeat: repeat-x;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #000;
    /*border: 1px solid black;*/
}

#menu_aba{
    position: relative;
    padding: 0;
    width: 706px;
    height: 40px;	
    /*border: 1px solid black;*/
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: black;
}

#botoes{
    position: absolute;
    float: right;
    top: 12px;
    right: 0px;
    /*border: 1px solid yellow;*/
}

#painel_exibicao_conteudo{
    position: relative;	
    float: left;
    width: auto;
    max-width: 705px;
    height: auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 8pt;
    color: black;
    padding-bottom: 5px;
    /*border: 1px solid black;*/
}

/*--------------------------TABELA DE NOTICIAS--------------------------*/

.tabelaPostarNoticia{	
    border-collapse: collapse;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    width: 605px;
    /*border: 1px solid black;*/
}

.tabelaPostarNoticia tr td{	
    /*border: 1px solid black;*/
}

.titulo{
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 30px;
    /*background-image: url(../Imagens/tabela_titulo_back.png);*/
    background-repeat: repeat-x;
    background-color: #999;
    color: black;
}

.celTituloData{
    width: 125px;
}

.celTituloNoticia{
    width: auto;
}

.celTituloStatus{
    width: auto;	
}

.linhaDados{
    height: 30px;
    text-align: center;
}

.celCheck{
    width: 5px;
    border-right: 0px;
}

.celData{
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.celTitulo{
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.celStatus{
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#paginacao{
    width: 705px;
    height: 30px;
    position: relative;
    float: left;
    top: 10px;
    bottom: 10px;
    padding-top: 10px;
    text-align: center;
    /*border: 1px solid black;*/
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: silver;
}

#paginacao a{
    color: #000;
    text-decoration: none;
}

/*--------------------------MENU INFERIOR--------------------------*/

#menu_inferior{
    width: 950px;
    height: 27px;
    position: absolute;
    bottom: 0px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    background-image: url(../img/rodape_back.png);
}

#menu_inferior ul{
    /*border: 1px solid black;*/
    list-style: none;
    margin: 0px;
    padding: 0px;	
    padding-top: 7px;
}

#menu_inferior ul li{
    /*border: 1px solid red;*/
    display: inline;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0px;
    margin-right: -3px;
}

#menu_inferior ul li a{
    /*border: 1px solid green;*/
    padding: 7px;
    padding-left: 35px;
    padding-right: 35px;
    color: #000;
    text-decoration: none;
}

#menu_inferior a:hover{
    background-image: url(../img/bg-bubplastic-h-orange.png);
    background-repeat: repeat-x;
    background-color: #FFCFCE;
}

/*--------------------------FORMULARIO POSTAR NOTICIA--------------------------*/

.campoStatus{
    width: 70px;
    text-align: center;
}

.tabelaPostarNoticia{
    border: 0px solid black;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabelaPostarNoticia td{
    border-collapse: collapse;
}
