body{
    background-image: url(../img/fundo_body.gif);	
}

#geral{
    width: 952px;
    *width: 950px; /*hack for IE*/
    height: auto;
    position: absolute;
    float:left;
    left:50%;
    margin-left:-475px;
    margin-top: 10px;
    top:0px;
    color: #00008C;
    /*border: 1px solid black;*/
}

#geral a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color: black;
}

/*--------------------------MENU SUPERIOR--------------------------*/
#menu_superior{
    width: 950px;
    height: 27px;
    padding-top: 5px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;	
    background-image: url(../img/rodape_back.png);
    background-repeat: repeat-x;
    background-color: #FFF;
    position: relative;
    top: 0px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

#text_menu_esquerda{
    float: left;
    position: relative;
    padding-left: 20px;
    padding-top: 5px;
    color: #000;
    /*border: 1px solid black;*/
}

#text_menu_direita{
    float: right;
    position: relative;
    padding-right: 20px;
    padding-top: 5px;
    /*border: 1px solid black;*/
}

.link_sair{
    color: black;
    text-decoration: none;
}

/*--------------------------PAINEL LATERAL--------------------------*/
#painel_secretaria{	
    position: relative;
    float: left;
    width: 190px;
    min-height:410px;
    height:auto !important;
    height:410px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 10px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, sans-serif;
    font-size: 8pt;
    text-align: justify;	
    font-weight: bold;	
    padding-left: 10px;
    padding-right: 10px;	
    background-color: #1075BD;
    background-image: url(../img/conteudo_back.png);
    background-repeat: repeat-x;
}

#painel_secretaria ul{
    list-style-type: none;
    padding: 0;
    border: 0;
    color: #000;
    font-size: 10pt;
}

#painel_secretaria li{
    border: 1px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #EFEBEF;
}

#painel_secretaria ul li a{
    display: block;
    border: 0;
    text-align: center;
    padding-top: 5px;	
    padding-bottom: 5px;
}

#painel_secretaria ul li:hover{
    /*border: 1px solid #000;*/
    background: transparent url(../img/tabela_background_hover.png) bottom left repeat-x;
    background-color: #EFEBEF;
}

#painel_secretaria a{
    font-size: 8pt;
}

#painel_secretaria li ul{
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 2px solid black;
    font-size: 8pt;
    list-style-type: none;
}

#painel_secretaria li ul li{
    border: 0;
    margin: 0;
    padding: 0;	
    background-color: #EFEBEF;
}

#painel_secretaria li ul li a{
    display: block;
    /*border: 1px solid black;*/
    text-align: center;
    padding-top: 5px;	
    padding-bottom: 5px;
}

#painel_secretaria li ul li:hover{
    /*border: 1px solid #000;*/
    background: transparent url(../img/tabela_background_hover.png) bottom left repeat-x;
    background-color: #EFEBEF;
}


/*--------------------------PAINEL DE CONTEï¿½DO--------------------------*/
#painel_exibicao{
    width: 715px;
    min-height:400px;
    height:auto !important;
    height:400px;
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid #D4E1E7;	
    position: relative;
    float: right;
    background-color: #FFCFCE;
    background-image: url(../img/exibicao_back.png);
    background-repeat: repeat-x;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #000;
}

#centerPainel{
    /*border: 1px solid black;*/
    width: 670px;
    height: 250px;
    margin-left: 10px;
    margin-top: 70px;
    /*text-align: justify;*/
}

#painel_exibicao  .campoBusca{
    width: 300px;
}

.botaoCenterPainel{
    width: 200px;
    height: 50px;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-bottom: 40px;
    font-family: Tahoma, sans-serif;
    font-size: 8pt;
    font-weight: bold;
}

.tabela{	
    border-collapse: collapse;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    width: 705px;
}

.tabela tr td{	
    border: 1px solid black;
}

.titulo{
    font-weight: bold;
    text-align: center;
    width: 320px;
    height: 30px;
    background-image: url(../img/tabela_titulo_back.png);
    background-repeat: repeat-x;
    background-color: #999;
    color: black;
}

.celTituloIDUsuario{
    width: 50px;
}

.celTituloNome{
    width: 430px;
}	

.celTituloNivelAcesso{
    width: 100px;
}

.celTituloDataCadastro{
    width: 120px;
}

.linhaDados{
    height: 30px;
    text-align: center;
}

.celCheck{
    /*width: ;*/
}

.celIDUsuario{
    width: 20px;
}

.celNome{
    /*width: ;*/
    text-align: left;
    padding-left: 5px;
}

.celNivelAcesso{
    /*width: ;*/
}

.celDataCadastro{
    /*width: ;*/
}

.celTituloIDCurso{
    width: 50px;
}

.celTituloNomeCurso{
    width: 630px;
}

.celIDCurso{
    width: 30px;
}

.celIDTurma{
    width: 30px;
}

.celIDDisciplina{
    width: 30px;
}

#menu_aba{
    position: relative;
    padding: 0;
    width: 706px;
    height: 40px;	
    /*border: 1px solid black;*/
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: black;
}

#botoes{
    position: absolute;
    float: right;
    top: 12px;
    right: 0px;
    /*border: 1px solid yellow;*/
}

#painel_exibicao_conteudo{
    position: relative;	
    float: left;
    /*border: 1px solid green;*/
    width: auto;
    height: auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 8pt;
    color: black;
}

.linhaDados a{
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: -5px;
    padding-left: 4px;
}

/*estilo dos links da tabela*/
.destaque{
    background: transparent url(../img/tabela_background_hover.png) bottom left repeat-x;
    background-color: #EFEBEF;
}

#paginacao{
    width: 680px;
    height: auto;
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-align: right;
    /*border: 1px solid black;*/
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: silver;
}

#paginacao a{
    color: #000;
    text-decoration: none;
}

/*--------------------------MENU INFERIOR--------------------------*/

#menu_inferior{
    width: 950px;
    height: 27px;
    position: absolute;
    bottom: 1px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    background-image: url(../img/bg-bubplastic.png);
}

#menu_inferior ul{
    /*border: 1px solid black;*/
    list-style: none;
    margin: 0px;
    padding: 0px;	
    padding-top: 7px;
}

#menu_inferior ul li{
    /*border: 1px solid red;*/
    display: inline;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0px;
    margin-right: -3px;
}

#menu_inferior ul li a{
    /*border: 1px solid green;*/
    padding: 7px;
    padding-left: 35px;
    padding-right: 35px;
    color: #000;
    text-decoration: none;
}

#menu_inferior a:hover{
    background-image: url(../img/bg-bubplastic-h-orange.png);
    background-repeat: repeat-x;
    background-color: #FFCFCE;
}

/*--------------------------FORMULARIO CADASTRO USUARIO--------------------------*/

fieldset{
    width: 685px;
    /*border: 1px solid black;*/
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

fieldset legend{
    color: #000;
}

.fieldsetUsuario{
    width: 665px;
    /*border: 1px solid black;*/
    margin-bottom: 5px;
}

.fieldsetUsuarioProfessor{
    width: 645px;
}

.campoNumeroMatricula{
    width: 90px;
    text-align: center;
}

.campoNome	{
    width: 680px;
}

.campoRua{
    width: 614px;
}

.campoNumero{
    width: 60px;
}

.campoBairro{
    width: 300px;
}

.campoMunicipio{
    width: 614px;
}

.campoEstado{
    width: 624px;
}

.campoCEP1{
    width: 45px;
}

.campoCEP2{
    width: 25px;
}

.campoNacionalidade{
    width: 200px;
}

.campoPai{
    width: 530px;
}

.campoMae{
    width: 530px;
}

.campoRG{
    width: 100px;
}

.campoCPF{
    width: 100px;
}

.campoTelefoneFixo1{
    width: 45px;
}

.campoTelefoneFixo2{
    width: 45px;
}

.campoRecado1{
    width: 45px;
}

.campoRecado2{
    width: 45px;
}

.campoCelular1{
    width: 45px;
}

.campoCelular2{
    width: 45px;
}

.campoDDD{
    width: 20px;
}

.campoEmail{
    width: 200px;
}

.selectTurma{
    width: 100px;
}

.campoRaca{
    width: 150px;
}

.campoNecessidades{
    width: 600px;
}

.celTurma{
    width: 10px;
}
/*--------------------------FORMULARIO CADASTRO CURSO--------------------------*/

.campoHabilitacao{

}

.campoHCurso{
    width: 45px;
}

.campoHEstagio{
    width: 45px;
}

/*--------------------------FORMULARIO CADASTRO DISCIPLINA--------------------------*/

.campoNomeDisciplina{
    width: 400px;
}

/*----------------------------------FORMULARIO BUSCA--------------------------------*/

.campoBusca{
    width: 800px;
}