@font-face {
    font-family: Montserrat;
    src: url(./fontes/Montserrat-Regular.ttf);
}

body{
    background-color: #f8f8f8;
    font-family: Montserrat;
}

#container{
    position: absolute;
    width: 900px;
    height: auto;
    left: 50%;
    margin-left: -450px;
    /*border: 1px solid black;*/
}

#cabecalho{
    width: auto;
    height: auto;
    position: relative;	
    border: 1px solid grey;
}

#banner_superior{
    width: 898px;
    height: 150px;
    position: relative;
    background-color: white;
    /*border: 1px solid black;*/
}

#banner_superior_figura{
    width: 347px;
    height: 110px;
    left: 10px;
    position: absolute;
    top: 50%;
    margin-top: -55px;
    /*border: 1px solid black;*/
}

#menu_superior{
    width: 898px;
    height: 27px;	
    position: relative;	
    /*border: 1px solid black;*/
    font-family: Montserrat, Tahoma, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    background-color: #c0c0c0;
}

.formSearch{
    float: right;
    padding-right: 5px;
    padding-top: 2px;
    /*border: 1px solid black;*/
}

.campoTexto{
    width: 150px;
}

.botaoProcurar{

}

/*div contendo menu lateral, noticias e rodape*/
#conteudo{
    position: relative;
    width: 900px;
    height: auto;
    margin-top: 10px;
    border: 1px solid black;
    background-color: #EFEBEF;
}

#boxLateral{
    position: relative;
    float: left;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid black;*/
}

#boxLateral h3{
    text-align: center;
    border: 1px solid black;
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu_lateral{
    position: relative;
    float: left;
    width: 220px;
    height: 718px;
    border: 1px solid red;
    background-repeat: repeat-x;
    background-color: white;
    font-family: Montserrat, Tahoma, Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#menu_lateral h2{
    text-align: center;
}

#menu_lateral ul{
    border: 1px solid black;
    list-style: none;
    border: 0;
    padding: 0;
}

#menu_lateral ul li{
    /*border: 1px solid red;*/
    padding-left: 5px;
    padding-top: 5px;
    min-height: 20px;
    height: auto;
    background-repeat: repeat-x;
    background-color: #C0C0C0;
}

#menu_lateral ul li a{
    color: black;
    display: block;
    text-decoration: none;
}

#menu_lateral li:hover{
    background-color: #4AC3BD;
}

.campo_login, .campo_senha{
    width: 140px;
}

.tabelaAcessoPortal{
    /*border: 1px solid black;*/
    position: relative;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

#noticias{
    position: relative;
    float: right;
    width: 650px;
    min-height: 713px;
    height: auto;
    padding-bottom: 10px;
    /*basta alterar o comprimento para auto apos colocar conteudo*/
    margin-top: 10px;
    margin-bottom: 65px;
    border: 1px solid blue;
    background-color: #FFF;
    font-family: Montserrat, Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

#conteudoNoticia{
    position: relative;
    left: 50%;
    margin-left: -315px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 630px;
    height: auto;
    border: 1px solid orange;
    text-align: justify;
    font-family: Montserrat, opensans,opensans-bastian,Arial,sans-serif;
    font-size: 8pt;
    color: #555555;
    color: #000000;
    /*color: silver;*/
}

#conteudoNoticia a{
    text-decoration: none;
    color: #000;
}

#conteudoNoticia h1, h2, h3{
    border: 1px solid black;
}

/*titulo da noticia*/
#conteudoNoticia h1{
    font-size: 20pt;
}

/*resumo da noticia*/
#conteudoNoticia h2{
    font-size: 12pt;
}

/*data de postagem da noticia*/
#conteudoNoticia h3{
    font-size: 10pt;
}

.tituloNoticia{
    background-color: #1075BD;
    color: #FFF;
}

.leiaMais{
    background-color: #FFCFCE;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10pt;
}

.leiaMais a{	
    color: #00008C;
}

#paginacao{
    position: absolute;	
    bottom: 10px;
    right: 10px;
    margin-left: 0px;
    border: 1px solid black;
    color: silver;
    font-size: 10pt;
    text-align: center;
}

#paginacao a{
    color: #00008C;
    text-decoration: none;
}

#rodape{
    width: 900px;
    height: auto;
    position: absolute;	
    bottom: 0px;
    left: 0px;
    /*margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;*/
    border: 1px solid black;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-family: Montserrat, Tahoma, Arial, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    font-color: #000000;
}

.sobre{	
    margin: 0px;
    margin-left: 15px;
    /*margin-bottom: 2px;*/
    padding: 0px;
    /*padding-bottom: 2px;*/
}

.liSobre{
    /*border: 1px solid black;*/
    padding-bottom: 5px;
}

#descricaoCurso {
    position: relative;
    left: 50%;
    margin-left: -315px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 630px;
    height: auto;
    /*border: 1px solid black;*/
    text-align: justify;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    /*font-weight: none;*/
    color: #767676;
}

#descricaoCurso td{
    padding: 5px;
}

#descricaoCurso h1,h2,h3{
    color: #000;
}

.tabelaCurriculo, .titulo {
    font-family: "Trebuchet MS";
    font-size:12px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    border: 1px solid #FFF;
}

.titulo{
    background-color: #328AA4;
    color: #FFF;
    text-align: center;
    font-weight:bold;
}

.tabelaCurriculo {
    border-collapse:collapse;
}

.cargaHoraria{
    text-align: center;
}

.conteudo{
    color: #000;
    background-color: #E5F1F4;
}