@font-face {
	font-family: Montserrat;
	src: url(./fontes/Montserrat-Regular.ttf);
}

body{
	background-image: url(../img/fundo_body.gif);
	font-family: Montserrat-Regular;
}

#container{
	position: absolute;
	width: 900px;
	height: auto;
	left: 50%;
	margin-left: -450px;
	/*border: 1px solid black;*/
}

#cabecalho{
	width: auto;
	height: auto;
	position: relative;	
	border: 1px solid white;
}

#banner_superior{
	width: 900px;
	height: 150px;
	position: relative;
	background-image: url(../img/banner_cabecalho.png);
	/*border: 1px solid black;*/
}

#banner_superior_figura{
	width: 347px;
	height: 110px;
	left: 10px;
	position: absolute;
	top: 50%;
	margin-top: -55px;
	/*border: 1px solid black;*/
}

#menu_superior{
	width: 900px;
	height: 27px;	
	position: relative;	
	/*border: 1px solid white;*/	
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	background-image: url(../img/bg-bubplastic.png);
}

#menu_superior ul{
	/*border: 1px solid black;*/
	list-style: none;
	margin: 0px;
	padding: 0px;	
	padding-top: 7px;
}

#menu_superior ul li{
	/*border: 1px solid red;*/
	display: inline;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 0px;
	margin-right: -3px;
}

#menu_superior ul li a{
	/*border: 1px solid green;*/
	padding: 7px;
	padding-left: 35px;
	padding-right: 35px;
	color: #000;
	text-decoration: none;
	/*ext-shadow: 1px 1px 1px #000;*/
}

#menu_superior a:hover{
	background-image: url(../img/bg-bubplastic-h-orange.png);
	background-repeat: repeat-x;
	background-color: #FFCFCE;
	
}

#conteudo{
	position: relative;
	width: 900px;
	height: auto;
	margin-top: 10px;
	border: 1px solid white;
	background-color: #EFEBEF;
}

#boxLateral{
	position: relative;
	float: left;
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	/*border: 1px solid white;*/
}

#menu_lateral{
	position: relative;
	float: left;
	width: 220px;
	height: 718px;
	border: 1px solid white;
	background-image: url(../img/menuLateral_back.png);
	background-repeat: repeat-x;
	background-color: #999999;
	font-family: Montserrat, Tahoma, Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

#menu_lateral ul{
	border: 1px solid black;
	list-style: none;
	border: 0;
	padding: 0;
}

#menu_lateral ul li{
	/*border: 1px solid red;*/
	padding-left: 5px;
	padding-top: 5px;
	min-height: 20px;
	height: auto;
	background-image: url(../img/menuLateral_back_link.png);
	background-repeat: repeat-x;
	background-color: #FFCFCE;
}

#menu_lateral ul li a{
	color: black;
	text-decoration: none;
}

#menu_lateral li:hover{		
	display: block;
	background-image: url(../img/menuLateral_back_link_hover.png);
	background-repeat: repeat-x;
	background-color: #4AC3BD;
}

#noticias{
	position: relative;
	float: right;
	width: 650px;
	min-height: 713px;
	height: auto;
	padding-bottom: 10px;
	/*basta alterar o comprimento para auto apos colocar conteudo*/
	margin-top: 10px;
	margin-bottom: 65px;
	border: 1px solid white;
	background-color: #FFF;
	font-family: Montserrat-Regular, Arial, Tahoma, Verdana, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

#conteudoNoticia{
	position: relative;
	left: 50%;
	margin-left: -315px;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 630px;
	height: auto;
	/*border: 1px solid black;*/
	text-align: justify;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: none;
	color: #767676;
}

#conteudoNoticia a:link, a:active, a:visited, a:hover{
	text-decoration: none;
	color: #FFF	;
}

.tituloNoticia{
	background-color: #1075BD;
	color: #FFF;
}

.leiaMais{
	background-color: #FFCFCE;
}

.leiaMais a{	
	color: #00008C;
}

#paginacao{
	position: absolute;	
	bottom: 10px;
	right: 10px;
	/*border: 1px solid black;*/
	color: silver;
}

#paginacao a{
	color: #00008C;
	text-decoration: none;
}

#rodape{
	width: 900px;
	height: 50px;
	position: absolute;	
	bottom: 0px;
	left: 0px;
	background-image: url(../img/rodape_back_forum.png);
	background-repeat: repeat-x;
	background-color: #EFEBEF;
	border: 1px solid white;
	text-align: center;
	font-family: Montserrat, Tahoma, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #00008C;
}

.campo_login, .campo_senha{
	width: 140px;
}

.formSearch{
	/*border: 1px solid black;*/
	float: right;
	margin-top: -20px;
	margin-right: 0px;
	padding-right: 5px;
	padding-top: 2px;
}

.campoTexto{
	width: 150px;
}

.botaoProcurar{
	
}