body{
    background-image: url(../img/fundo_body.gif);	
}

#geral{
    width: 952px;
    *width: 950px; /*hack for IE*/
    height: auto;
    position: absolute;
    float:left;
    left:50%;
    margin-left:-475px;
    margin-top: 10px;
    top:0px;
    color: #00008C;
    /*border: 1px solid black;*/
}

#geral a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color: black;
}

/*--------------------------MENU SUPERIOR--------------------------*/
#menu_superior{
    width: 950px;
    height: 27px;
    padding-top: 5px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;	
    background-image: url(../img/rodape_back.png);
    background-repeat: repeat-x;
    background-color: #FFF;
    position: relative;
    top: 0px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

#text_menu_esquerda{
    float: left;
    position: relative;
    padding-left: 20px;
    padding-top: 5px;
    color: #000;
    /*border: 1px solid black;*/
}

#text_menu_direita{
    float: right;
    position: relative;
    padding-right: 20px;
    padding-top: 5px;
    /*border: 1px solid black;*/
}

.link_sair{
    color: black;
    text-decoration: none;
}

/*--------------------------CONTEUDO DA PAGINA--------------------------*/
#box{
    width: 950px;
    min-height:854px;
    height:auto !important;
    height:854px;
    position: absolute;	
    border: 1px solid black;
    /*background-color: #EFEBEF;
    background-image: url(./images/conteudo_back.png);
    background-repeat: repeat-x;*/
}

/*--------------------------PAINEL LATERAL--------------------------*/

#painel_perfil{	
    position: relative;
    float: left;
    width: 190px;
    min-height:410px;
    height:auto !important;
    height:410px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 10px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, sans-serif;
    font-size: 8pt;
    text-align: justify;	
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #EFEBEF;
    background-image: url(../img/conteudo_back.png);
    background-repeat: repeat-x;
}

.menu_perfil_ul{
    list-style-type: none;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.link_alterar{
    color: black;
    text-decoration: none;
}

.menu_perfil_professor{
    padding: 10px; 
}

/*--------------------------PAINEL DE CONTEï¿½DO--------------------------*/
#painel_exibicao{
    width: 715px;
    min-height:400px;
    height:auto !important;
    height:400px;
    margin-top: 10px;
    margin-bottom: 40px;	
    border: 1px solid #D4E1E7;	
    position: relative;
    float: right;
    background-color: #EFEBEF;
    background-image: url(../img/exibicao_back.png);
    background-repeat: repeat-x;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #000;
}

#menu_aba{
    position: relative;
    top: 15px;
    padding: 0;
    width: 706px;
    height: 40px;	
    /*border: 1px solid black;*/
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: black;
}

#menu_aba ul{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;	
}

#menu_aba ul li{
    float: left;
}

#menu_aba a{
    text-decoration: none;
    color: black;
    font-family: Tahoma;
    font-size: 8pt;
    font-weight: bold;
    border: 1px solid black;
    display: block;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 5px;
}

.link1{	
    background-color: silver;
    border-right: 0px;
}

.link2{
    background-color: white;
}

#botoes{
    position: relative;
    float: right;
    top: -2px;
    right: 0px;
    /*border: 1px solid yellow;*/
}

#painel_exibicao_conteudo{
    position: relative;	
    float: left;
    width: auto;
    height: auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 8pt;
    color: black;
    padding-bottom: 5px;
}

#paginacao{
    width: 680px;
    height: auto;
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-align: right;
    /*border: 1px solid black;*/
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: silver;
}

#paginacao a{
    color: #000;
    text-decoration: none;
}

/*--------------------------TABELA DE MENSAGENS--------------------------*/

.tabela{	
    border-collapse: collapse;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    width: 705px;
}

.tabela tr td{	
    border: 1px solid black;
}

.linhaDados{
    height: 30px;
    text-align: center;
}

.celCheck{
    width: 500px;
    border-right: 0px;
}

.celRemetente{
    width: 160px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    border-left: 0px;
}

.celTitulo{
    width: 160px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.celDataEnvio{
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.celStatus{
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.titulo{
    font-weight: bold;
    text-align: center;
    width: 320px;
    height: 30px;
    background-image: url(../img/tabela_titulo_back.png);
    background-repeat: repeat-x;
    background-color: #999;
    color: black;
}

.celTituloRemetente{
    /*width: ;
    height: ;*/
}

.celTituloMensagem{
    width: 300px;
    /*height: ;*/
}

.celTituloDataMensagem{
    width: 110px;
    /*height: ;*/
}

.celTituloStatus{
    width: 50px;
    /*height: ;*/
}

/*--------------------------TABELA DE ARQUIVOS--------------------------*/

.celTituloNomeArquivo{
    width: 300px;
}

.celTituloDataEnvio{
    width: 110px;
}

.celTituloTipo{
    width: 80px;
}

.celTituloTamanho{
    width: 80px;
}

.celNomeArquivo{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.celDataEnvio{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.celTipo{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.celTamanho{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

/*--------------------------MENU INFERIOR--------------------------*/

#menu_inferior{
    width: 950px;
    height: 27px;
    position: absolute;
    bottom: 1px;
    border: 1px solid #D4E1E7;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    background-image: url(../img/rodape_back.png);
}

#menu_inferior ul{
    /*border: 1px solid black;*/
    list-style: none;
    margin: 0px;
    padding: 0px;	
    padding-top: 7px;
}

#menu_inferior ul li{
    /*border: 1px solid red;*/
    display: inline;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0px;
    margin-right: -3px;
}

#menu_inferior ul li a{
    /*border: 1px solid green;*/
    padding: 7px;
    padding-left: 35px;
    padding-right: 35px;
    color: #000;
    text-decoration: none;
}

#menu_inferior a:hover{
    background-image: url(../img/bg-bubplastic-h-orange.png);
    background-repeat: repeat-x;
    background-color: #FFCFCE;
}